COMPOSE_FILE=docker-compose.yml:docker-compose.mysql.yml:docker-compose.adminer-mysql.yml:docker-compose.kafka.yml:docker-compose.minio.yml:docker-compose.rabbitmq.yml

# MySQL Port Configuration
MYSQL_PUBLISH_PORT=3306
MYSQL_DEFAULT_PORT=3306

# Adminer Port Configuration
ADMINER_PUBLISH_PORT=8081
ADMINER_DEFAULT_PORT=8080

# Kafka Port Configuration
KAFKA_PUBLISH_PORT=9092
KAFKA_DEFAULT_PORT=9092
KAFKA_CONTROLLER_PUBLISH_PORT=9093
KAFKA_CONTROLLER_DEFAULT_PORT=9093
KAFKA_EXTERNAL_PUBLISH_PORT=9094
KAFKA_EXTERNAL_DEFAULT_PORT=9094
KAFKA_UI_PUBLISH_PORT=8080
KAFKA_UI_DEFAULT_PORT=8080

# MinIO Port Configuration
MINIO_API_PUBLISH_PORT=9000
MINIO_API_DEFAULT_PORT=9000
MINIO_CONSOLE_PUBLISH_PORT=9001
MINIO_CONSOLE_DEFAULT_PORT=9001

# RabbitMQ Port Configuration
RABBITMQ_AMQP_PUBLISH_PORT=5672
RABBITMQ_AMQP_DEFAULT_PORT=5672
RABBITMQ_MANAGEMENT_PUBLISH_PORT=15672
RABBITMQ_MANAGEMENT_DEFAULT_PORT=15672
