services:
  rabbitmq:
    image: rabbitmq:4.2.1-management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "${RABBITMQ_AMQP_PUBLISH_PORT:-5672}:5672"
      - "${RABBITMQ_MANAGEMENT_PUBLISH_PORT:-15672}:15672"
    env_file:
      - ./rabbitmq/.env
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_logs:/var/log/rabbitmq
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    networks:
      - docker-dev-common
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 20s
      retries: 5
      start_period: 60s

volumes:
  rabbitmq_data:
  rabbitmq_logs:

networks:
  docker-dev-common:
    external: true